<div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-md shadow-md">
    <h1 class="text-3xl font-semibold mb-6">Bienvenue sur le site!</h1>

    <p class="text-lg">
        Super ! Vous êtes maintenant inscrit !<br><br>
    </p>

    <p class="text-lg">
        N'hésiter pas à découvrir tous nos ateliers !
    </p>

    <p class="text-lg">
        À bientôt !
    </p>
</div>
